*{
    margin: 100;
    padding: 100;
}
body{
    background-color:blanchedalmond;
    text-align: center;
}
p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
   padding-bottom: 20vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1ex;
    border:outset gray;
    box-shadow: inset;
    background-color:sienna;
    color: bisque;
    font-size: xx-large;
}
.container{
    height: 70 vh;
    display: flex;
    align-items: center;
    justify-content: center     
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

#reset-btn{
    cursor: pointer;
    background-color: rgba(123, 0, 255, 0.44);
    color: black;
    font-size: larger;
    height: 8vmin;
    width: 18vmin;
    border: solid black;
    border-radius: 10mm;
    margin-top: 8vmin;
   
   
}
#reset-btn:hover{
    color:white;
    background-color: rgb(28, 4, 49);
}
#new-btn{
    cursor: pointer;
    background-color: rgba(123, 0, 255, 0.44);
    color: black;
     font-size: larger;
     height: 8vmin;
     width: 15vmin;
     border: solid black;
     border-radius: 10mm;
     margin-top: 8vmin;
}
#new-btn:hover{
    color:white;
    background-color: rgb(28, 4, 49);
}
.hide{
    display: none;
}
.msg-container{
    height: 3vmin;
}
